NUXT_OAUTH_GITHUB_CLIENT_ID=""
NUXT_OAUTH_GITHUB_CLIENT_SECRET=""
NUXT_SESSION_PASSWORD=""
NUXT_PUBLIC_AUTH_API_BASE="http://localhost"
NUXT_AUTH_API_BASE=""
NUXT_PUBLIC_MERCURE_PUBLIC_URL="http://localhost:3000/.well-known/mercure"
NUXT_PROFILE_ENDPOINT_CACHE_TTL_MS="30000"
NUXT_REDIS_URL=""
NUXT_REDIS_HOST=""
NUXT_REDIS_PORT="6379"
NUXT_REDIS_PASSWORD=""
