@use "./variables" as *;

.ui-shadow-none {
  box-shadow: none !important;
}

.ui-shadow-sm {
  box-shadow: 0 1px 3px rgb(0 0 0 / 14%) !important;
}

.ui-shadow-md {
  box-shadow: 0 4px 10px rgb(0 0 0 / 18%) !important;
}

.ui-shadow-lg {
  box-shadow: 0 8px 20px rgb(0 0 0 / 20%) !important;
}

.ui-shadow-xl {
  box-shadow: 0 12px 30px rgb(0 0 0 / 24%) !important;
}

.ui-rounded-sm {
  border-radius: $border-radius-sm !important;
}

.ui-rounded-md {
  border-radius: $border-radius-md !important;
}

.ui-rounded-lg {
  border-radius: $border-radius-lg !important;
}

.ui-rounded-xl {
  border-radius: $border-radius-xl !important;
}

.ui-rounded-pill {
  border-radius: 9999px !important;
}
